<% @page_title = "Login" %>


<div>
	<%= form_tag(:action => 'attempt_login') do %>
	<table>
		<tr>
			<td><%= label_tag(:username) %></td>
			<td><%= text_field_tag(:username) %></td>
		</tr>
		<tr>
			<td><%= label_tag(:password) %></td>
			<td><%= password_field_tag(:password) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag("Log in") %></td>
		</tr>
	</table>
	<%end%>

<%= link_to("Sign up", {:action => 'signup'}) %>

<br><br>
What is Abstraction?<br>
Answer version 1.1<br><br>

Abstraction is a system for helping teenagers making money, and for Neighbors to get help for different chores around the house.
<br>
Good examples of work that teenagers might help with: <br>
* Washing car inside and outside<br>
* Mowing lawn<br>
* Selling items in garage on ebay<br>
* Organize garage<br>
* Cleaning garage<br>
* Vacuuming house<br>
* Make garden nicer<br>
* Clean windows<br>
* Paint fence<br>
* Paint room<br>
* Help with moving<br><br>
Perhaps the biggest advantage to you if you're a teenager is that you start <br>
gaining work skills, and you're getting paid in the process. Gaining work <br>
skills can become hugely beneficial later in life, as you have a much better <br>
understanding of what customers want. Also, once you start making your own <br>
money, you gain independence and self-esteem. Try it, it feels good. <br>
<br>


Furhter down the road we might also teach our customers about money, <br>
so that our customers can gain additional financial independence and <br>
control over their own lifes.<br>
<br>


At Abstraction we strongly believe that trade enables win-win situations <br>
where all parties involved are better off for interacting with each other.<br>
<br>
We do not believe the nonsense that trade is a zero-sum game.

</div>