<%
=begin%>
<hr>
<% @page_title = "Login" %>

<%= form_tag(:action => 'attempt_login') do %>
	<div class="form-group">
	    <%= label_tag(:username) %>
	    <%= text_field_tag :username, nil, class: "form-control" %>
	</div>
	<div class="form-group">
	    <%= label_tag(:password) %>
	    <%= password_field_tag :password, nil, class: "form-control" %>
	</div>
	<%= submit_tag "Log in", class: "btn btn-primary" %>
	<%= link_to("Sign up", {:action => 'signup'}, class: "btn btn-primary") %>
<%end%>
<%
=end%>

<%= form_tag({:action => 'attempt_login'},{class: "well form-horizontal"}) do %>
	<fieldset>
		<legend><center><h2><b>Login</b></h2></center></legend><br>

		<div class="form-group">
		  <label class="col-md-4 control-label">Username</label>  
		  <div class="col-md-4 inputGroupContainer">
		  	<div class="input-group">
		  		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		  		<input  name="username" placeholder="Username" class="form-control" type="text" required="true">
		    </div>
		  </div>
		</div>


		<div class="form-group">
		  <label class="col-md-4 control-label" >Password</label> 
	    <div class="col-md-4 inputGroupContainer">
	    	<div class="input-group">
	  			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	  			<input name="password" placeholder="Password" class="form-control" type="password" required="true">
	    	</div>
	  	</div>
		</div>

		<div class="form-group">
		  <label class="col-md-4 control-label"></label>
		  <div class="col-md-4">
		    <a href="/access/signup" class="btn btn-warning signup_btn" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSignup 
		    	<span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		    </a>
		    <button type="submit" class="btn btn-warning login_btn" style="float:right">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLogin 
		    	<span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		    </button>
		  </div>
		</div>
	</fieldset>
<%end%>

<hr>
<h3>What is Abstraction?</h3>
<h4>Answer version 1.1</h4>

Abstraction is a system for helping teenagers making money, and for Neighbors to get help for different chores around the house.
<br>
Good examples of work that teenagers might help with: <br>
* Washing car inside and outside<br>
* Mowing lawn<br>
* Selling items in garage on ebay<br>
* Organize garage<br>
* Cleaning garage<br>
* Vacuuming house<br>
* Make garden nicer<br>
* Clean windows<br>
* Paint fence<br>
* Paint room<br>
* Help with moving<br><br>
Perhaps the biggest advantage to you if you're a teenager is that you start
gaining work skills, and you're getting paid in the process. Gaining work
skills can become hugely beneficial later in life, as you have a much better
understanding of what customers want. Also, once you start making your own
money, you gain independence and self-esteem. Try it, it feels good.
<br>

Furhter down the road we might also teach our customers about money, 
so that our customers can gain additional financial independence and 
control over their own lifes.
<br>

At Abstraction we strongly believe that trade enables win-win situations 
where all parties involved are better off for interacting with each other.
<br>
We do not believe the nonsense that trade is a zero-sum game.

<style type="text/css">
	.signup_btn{
		width: 48%;
	}

	.login_btn{
		width: 48%;
	}
</style>