<% @page_title = "Sign up" %>

<h1>Sign up</h1>


<div>
	<%= form_tag(:action => 'attempt_signup') do %>
	<table>
		<tr>
			<td>Username</td>
			<td><%= text_field_tag(:username) %></td>
			<td>(required)</td>
		</tr>
		<tr>
			<td>Password</td>
			<td><%= password_field_tag(:password) %></td>
			<td>(required)</td>
		</tr>
		<tr>
			<td>Email </td>
			<td><%= text_field_tag(:email) %></td>
			<td>(optional, but is required for extra reward)</td>
		</tr>
		<tr>
			<td>Signup code</td>
			<td><%= text_field_tag(:signup_code) %></td>
			<td>(optional, benefits your friend)</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag("Sign up") %></td>
		</tr>
	</table>
	<%end%>

</div>